{
    "env": {
        "browser": true,
        "node": true,
        "es2021": true
    },
    "extends": ["prettier", "eslint:recommended"],
    "parser": "@babel/eslint-parser",
    "ignorePatterns": ["readme.MD"],
    "rules": {
        "indent": [
            "error",
            "tab"
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error",
            "always"
        ],
        "prettier/prettier": [
            "error"
        ]
    },
    "plugins": [
        "prettier"
    ]
}
